body{
 background-image: linear-gradient(to left, #505285 0%, #585e92 12%, #65689f 25%, #7474b0 37%, #7e7ebb 50%, #8389c7 62%, #9795d4 75%, #a2a1dc 87%, #b5aee4 100%);
  background-size: 100% auto;
}


#button1{
    position: absolute;
    top: 20%;
    left: 18%;
    width: 180px;
    height: 30px;
    font-size: 20px;
    font-weight: 700;
    color: #ffffff;
    border: 0;
    border-radius: 15px;
    background-image: linear-gradient(to top, #3f51b1 0%, #5a55ae 13%, #7b5fac 25%, #8f6aae 38%, #a86aa4 50%, #cc6b8e 62%, #f18271 75%, #f3a469 87%, #f7c978 100%);
    outline: none;
}

#button2{
    position: absolute;
    top:20%;
    right: 19%;
    width: 180px;
    height: 30px;
    font-size: 20px;
    font-weight: 700;
    color: #ffffff;
    border: 0;
    border-radius: 15px;
    background-image: linear-gradient(to top, #3f51b1 0%, #5a55ae 13%, #7b5fac 25%, #8f6aae 38%, #a86aa4 50%, #cc6b8e 62%, #f18271 75%, #f3a469 87%, #f7c978 100%);
    outline: none;
}


#memu {
  display: inline-block;
  font-size: 20px;
  font-weight: 700;
  padding: 0px 20px;
  margin-left: 50px;
  }

a{
  color: #ffffff;
  text-decoration: none;
}
a:hover{
  border: none;
  border-bottom: 3px solid #ffffff;
}

#memu input {
  border-radius: 5px;
  border: none;
  height: 20px;
  outline: none;
  text-indent: 2px;
}

.search{
  position: absolute;
  top: 6px;
  left: 315px;
}

.logo{
  width: 100px;
  position: absolute;
  left: 46%;
  top: 20%;

}
html:hover .logo{
  animation-name: logo;
  animation-delay: 200ms;
  animation-duration: 3s;
  animation-fill-mode: forwards;
}

@keyframes logo{
  to{
     width: 30px;
     position: absolute;
     top: 8px;
     left: 1.5%;
     
  }
}

#loginbox {
	width: 380px;
	height: 220px;
	margin: 0 60%;
	margin-top: 15%;
	text-align: center;
	background: #00000050;
	padding: 20px 50px;
  border-radius: 30px;
  position: relative;
  display: none;
}
#loginbox h1 {
	color: #ffffff;
}
#loginbox .form .item input {
    font-size: 17px;
    width: 200px;
    border: none;
    border-bottom: 2px solid #ffffff;
    padding: 5px 10px;
    background: #ffffff00;
    color: #ffffff;
    outline: none;
}
#loginbox button {
    margin-top: 15px;
    width: 180px;
    height: 30px;
    font-size: 20px;
    font-weight: 700;
    color: #ffffff;
    border: 0;
    border-radius: 15px;
    background-image: linear-gradient(to right, #74ebd5 0%, #9face6 100%);
    outline: none;
}

@font-face {
  font-family: 'iconfont';  /* project id 1700571 */
  src: url('http://at.alicdn.com/t/font_1700571_u410jyygv6e.eot');
  src: url('http://at.alicdn.com/t/font_1700571_u410jyygv6e.eot?#iefix') format('embedded-opentype'),
  url('http://at.alicdn.com/t/font_1700571_u410jyygv6e.woff2') format('woff2'),
  url('http://at.alicdn.com/t/font_1700571_u410jyygv6e.woff') format('woff'),
  url('http://at.alicdn.com/t/font_1700571_u410jyygv6e.ttf') format('truetype'),
  url('http://at.alicdn.com/t/font_1700571_u410jyygv6e.svg#iconfont') format('svg');
}
.iconuser{
    font-family:"iconfont";
    color: #ffffff;
    font-size:23px;
    font-style:normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.3px;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 600;
    position: absolute;
    top: 110px;
    left: 105px;
  }
.iconmima{
     font-family:"iconfont";
    color: #ffffff;
    font-size:30px;
    font-style:normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.3px;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 600;
    position: absolute;
    top: 137px;
    left: 100px;
}



@font-face {
  font-family: 'iconfont';  /* project id 1704154 */
  src: url('http://at.alicdn.com/t/font_1704154_tk9fwneimqb.eot');
  src: url('http://at.alicdn.com/t/font_1704154_tk9fwneimqb.eot?#iefix') format('embedded-opentype'),
  url('http://at.alicdn.com/t/font_1704154_tk9fwneimqb.woff2') format('woff2'),
  url('http://at.alicdn.com/t/font_1704154_tk9fwneimqb.woff') format('woff'),
  url('http://at.alicdn.com/t/font_1704154_tk9fwneimqb.ttf') format('truetype'),
  url('http://at.alicdn.com/t/font_1704154_tk9fwneimqb.svg#iconfont') format('svg');
}
.icon-sousuo{
  font-family: "iconfont";
  font-size: 20px;
  padding: 0px;
  color: #ffffff;
  position: absolute;
  top: 6px;
  left: 160px;
}


#registerbox {
  width: 380px;
  height: 320px;
  text-align: center;
  background: #00000050;
  padding: 20px 50px;
  border-radius: 30px;
  position: absolute;
  top: 28%;
  left: 8%;
  color: #fff;
  display: none;
}
#registerbox h1 {
  color: #ffffff;
}
#registerbox .form .item input {
    font-size: 17px;
    width: 200px;
    border: none;
    border-bottom: 2px solid #ffffff;
    padding: 5px 10px;
    background: #ffffff00;
    color: #ffffff;
    outline: none;
}
#registerbox .form .item{
    position: relative;
}
.text1{
    position: absolute;
    top: 10px;
    left: 27px;
}

.text2{
    position: absolute;
    top: 10px;
    left: 40px;
}
.text3{
    position: absolute;
    top: 10px;
    left: 10px;
}
#registerbox button {
    margin-top: 15px;
    width: 180px;
    height: 30px;
    font-size: 20px;
    font-weight: 700;
    color: #ffffff;
    border: 0;
    border-radius: 15px;
    background-image: linear-gradient(to right, #74ebd5 0%, #9face6 100%);
    outline: none;
}